<header id="header-drawing">
    <div id="drawing-placeholder">
            <div class="shop-img-container">
                <img id="sShopImg" src="{{shop.image}}" alt="shop">
            </div>
    </div>
</header>